*{text-align: center;margin-left: auto;margin-right: auto;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

input{
    margin-left: 0;
    margin-right: 0;
}

.numero{
    width: 20px;
    text-align: center;
}

.imge{
    width: 150px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

article{display: flex;align-items: center; }
.articlediv{display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}
.text{width: 80%;}
.add{margin-left: auto;margin-right: auto;}
form{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
.logcontainer{text-align: center; margin-left: auto; margin-right: auto}