.dot {
    aspect-ratio: 1/1;
    width: 20%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 20px;
  
}
.dotcenter {align-content: space-between;}
form{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
input[type="submit"] {
  padding: 10px;
  border-radius: 10px;
}
input[type="submit"]:hover{
    box-shadow: 0px 5px 10px black;
    transform: translateY(5px);
}
body{background-color: aquamarine;text-align: center;}


table,tr,td,th{border-collapse: collapse;border: 1px solid black;background-color: white;padding: 5px;}
td:not(.grf){text-align: center;
}
.grf div{background-color: blue;}
table{margin: 0 auto 0 auto;border-radius: 10px;overflow:hidden;}
.ranks {position: fixed; top: 20px;left: 20px;border-radius: 10px;padding: 10px;}


  .parpadea {
    color: red;
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }







  

  @keyframes smooth-appear {
    to{
      left: 260px;
      opacity:1;
    }
  }
  .ranking2 {
    background: gray;
    color:white;
    padding: 20px;
    position: fixed;
    left: -100%;
    opacity:0;
    top:10px;
    transform: translateX(-50%);
    border-radius: 10px;
    animation: smooth-appear 1s ease forwards;
  }

  @keyframes smooth-disappear {
    to{
      left: -100%;
      opacity:0;
    }
  }
  .ranking {
    background: gray;
    color:white;
    padding: 20px;
    position: fixed;
    left: 260px;
    opacity:1;
    top:10px;
    transform: translateX(-50%);
    border-radius: 10px;
    animation: smooth-disappear 2s ease forwards;
  }

  .ranking3{display: none;}


  .imp{display:block;position: fixed; top: 20px;right: 20px;border-radius: 10px;padding: 10px;}